{% extends 'frontend/base2.html' %}
{% load static %}
{% load subsite_tags %}
{% block kontennya %}
    <div id="tf-blog" class="blog">
        <div class="container"> <!-- container -->
            <div class="section-header">
                <h2>SEMUA BERITA  <span class="highlight"><strong>BIRO SUMBER DAYA MANUSIA</strong></span></h2>
                <h5><em>Badan Pengawas Obat dan Makanan</em></h5>
                <div class="fancy"><span><img src="{% static 'img/favicon.ico' %}" alt="..."></span></div>
            </div>
        </div>
    </div>
    <div id="blog-post"> <!-- fullwidth gray background -->
        <div class="container"><!-- container -->
            <div class="row"> <!-- row -->
                <div class="col-md-6 col-md-offset-1">
                    {%for b in beritas %}
                    <div class="post-wrap"> <!-- Post Wrapper -->
                        <div class="media post"> <!-- post wrap -->
                            <div class="media-left"> 
                                <a href="#"> <!-- link to your post single page -->
                                <img class="media-object" src="{{b.Photo.url}}" width="120" height="150" alt="..."> 
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="small">{{b.tanggal_berita}}</p>
                                <a href="#">
                                    <h5 style="color:black" class="media-heading"><strong>{{b.judul}}</strong></h5>
                                </a>
                                <p>{{b.isi|truncatechars:30}}</p>
                            </div>
                        </div>
                        <div class="post-meta">
                            <ul class="list-inline metas pull-left">
                                <li><a href="#">{{b.tanggal_berita}}</a></li> 
                                <li><a href="#">by {{b.created_by.nama}}</a></li>
                            </ul>
                            <ul class="list-inline meta-detail pull-right">
                                <li><a href="{% url 'detail_berita' pk=b.pk %}">Read More</a></li> 
                            </ul>
                        </div>
                    </div>
                    {%endfor%}
                    <div class="text-left"> <!-- Blogrol Pagination -->
                        <nav>
                            {% if beritas.has_previous %}
                                <a class="prev btn btn-info" href="?page={{beritas.previous_page_number}}">Prev</a>
                            {% endif %}
                            {% if beritas.has_next %}
                                <a class="next btn btn-info" href="?page={{beritas.next_page_number}}">Next</a>
                            {% endif %}
                            <div class="pagination">
                                <ul>
                                {% for pg in page_range %}
                                    {% if beritas.number == pg %}
                                        <a href="?page={{pg}}" class="btn btn-default">{{pg}}</a>
                                    {% else %}
                                        <a href="?page={{pg}}" class="btn">{{pg}}</a>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                    </nav>
                </div>  
            </div> 
            <div class="col-md-4"> 
                <div class="sidebar">
                    <form action="." method="GET" class="form-inline my-2 my-lg-0" >
                        <div class="widget search">
                            <div class="input-group">
                                <input name="q" type="text" class="form-control" placeholder="Search" aria-label="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="widget categories"> 
                        <h4 class="text-uppercase">Category</h4>
                        <ul class="list-unstyled bullet-lists" role="tablist">
                            {%for kb in kat_list %}
                            <li role="presentation" class="{{forloop.first|is_active}}"> 
                                <a href="?kat={{kb.id}}" aria-controls="{{kb.id}}" >
                                    {{kb.kategori}}<br><small></small>
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>


                </div>
            </div><!-- end right content col 4 -->

        </div>
    </div><!-- end container -->
</div>
{% endblock %}