{% extends 'frontend/base2.html' %}
{% load static %}
{% load subsite_tags %}
{% block kontennya %}
<div id="tf-services">
    <div class="container">
        <div class="section-header">
            <h2><span class="highlight">VISI dan MISI<strong> BPOM</strong></span></h2>
            <div class="fancy"><span><img src="{% static 'img/favicon.ico' %}" alt="..."></span></div>
            <h5></h5>
        </div>
        
        <p class="justify">Badan Pengawas Obat dan Makanan atau disingkat Badan POM adalah sebuah lembaga di Indonesia yang bertugas mengawasi peredaran obat-obatan dan makanan di Indonesia. Fungsi dan tugas badan ini menyerupai fungsi dan tugas Food and Drug Administration di Amerika Serikat dan European Medicines Agency di Uni Eropa.</p>
            
        <div class="section-header1">
            <h3><span class="highlight">VISI BPOM</span></h3>
                <p class="justify">Obat dan Makanan aman, bermutu, dan berdaya saing untuk mewujudkan Indonesia maju yang berdaulat, mandiri, dan berkepribadian berlandaskan gotong royong<p>
        </div>
        <div class="section-header2">
            <h3><span class="highlight">MISI BPOM</span></h3>
            <p class="justify">Berikut adalah Misi BPOM:</p>
            <ol>
                <li>Membangun SDM unggul terkait Obat dan Makanan dengan mengembangkan kemitraan bersama seluruh komponen bangsa dalam rangka peningkatan kualitas manusia Indonesia;</li>
                <li>Memfasilitasi percepatan pengembangan dunia usaha Obat dan Makanan dengan keberpihakan terhadap UMKM dalam rangka membangun struktur ekonomi yang produktif dan berdaya saing untuk kemandirian bangsa;</li>
                <li>Meningkatkan efektivitas pengawasan Obat dan Makanan serta penindakan kejahatan Obat dan Makanan melalui sinergi pemerintah pusat dan daerah dalam kerangka Negara Kesatuan guna perlindungan bagi segenap bangsa dan memberikan rasa aman pada seluruh warga;</li>
                <li>Pengelolaan pemerintahan yang bersih, efektif, dan terpercaya untuk memberikan pelayanan publik yang prima di bidang Obat dan Makanan;</li>
            </ol> 
        </div>
        
        <div class="section-header2">
            
            <h3><span class="highlight"></span></h3>
            </div>
    </div>
    
</div>
{% endblock %}
